body {
    cursor: default;
}

.padded {
    margin-bottom: 80px;
}

.jumpable {
    padding-top: 40px;
    margin-top: -40px;
}

.hspacer {
    padding-left: 10px;
}

.div-appear.ng-hide-add,
.div-appear.ng-hide-remove {
    -webkit-transition: 0.75s linear all;
    -moz-transition: 0.75s linear all;
    -o-transition: 0.75s linear all;
    transition: 0.75s linear all;
    display: block !important;
}

.table-appear.ng-hide-add,
.table-appear.ng-hide-remove {
    -webkit-transition: 0.75s linear all;
    -moz-transition: 0.75s linear all;
    -o-transition: 0.75s linear all;
    transition: 0.75s linear all;
    display: table !important;
}

.row-appear.ng-hide-add,
.row-appear.ng-hide-remove {
    -webkit-transition: 0.75s linear all;
    -moz-transition: 0.75s linear all;
    -o-transition: 0.75s linear all;
    transition: 0.75s linear all;
    display: table-row !important;
}

.div-appear.ng-hide-remove,
.row-appear.ng-hide-remove,
.table-appear.ng-hide-remove {
    opacity: 0;
}

.div-appear.ng-hide-remove.ng-hide-remove-active,
.row-appear.ng-hide-remove.ng-hide-remove-active,
.table-appear.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
}

.div-appear.ng-hide-add,
.row-appear.ng-hide-add,
.table-appear.ng-hide-add {
    opacity: 1;
}

.div-appear.ng-hide-add.ng-hide-add-active,
.row-appear.ng-hide-add.ng-hide-add-active,
.table-appear.ng-hide-add.ng-hide-add-active {
    opacity: 0;
}

