<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a href="#/" class="navbar-brand">PREDICT</a>
			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="navbar-collapse collapse" id="navbar-main">
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a ng-click="scrollTo('files');"><i class="glyphicon glyphicon-file"></i> Files</a>
				</li>
				<li>
					<a ng-click="scrollTo('tasks')"><i class="glyphicon glyphicon-tasks"></i> Tasks</a>
				</li>
				<li>
					<a ng-click="scrollTo('minutes')"><i class="glyphicon glyphicon-edit"></i> Minutes</a>
				</li>
				<li>
					<a ng-click="scrollTo('wiki')"><i class="glyphicon glyphicon-book"></i> Wiki</a>
				</li>
				<li>
					<a ng-click="scrollTo('references')"><i class="glyphicon glyphicon-link"></i> References</a>
				</li>
			</ul>
		</div>
	</div>
</div>