<div id="files" class="jumpable" ng-init="initName('files')" ng-controller="FileCtrl">
	<h1 class="page-header" element-visible data="data" url="url"><i class="glyphicon glyphicon-file"></i> Files</h1>
	<table class="table table-bordered table-striped table-hover table-appear" ng-show="data.length > 0">
		<thead>
		<tr>
			<th class="col-lg-1">Download</th>
			<th class="col-lg-5">File</th>
			<th class="col-lg-6">Information</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="file in data">
			<td><a href="{{ file.url }}" target="_blank"><i class="glyphicon glyphicon-download"></i></a></td>
			<td>{{ file.url | parseFileName }}</td>
			<td>{{ file.text }}</td>
		</tr>
		</tbody>
	</table>
	<div class="div-appear" ng-show="data.length == 0">No file available for the moment.</div>
</div>