<div ng-controller="MainCtrl">
	<div class="padded" ng-include="'views/_header.html'"></div>
	<div class="container">
		<div class="row padded">
			<div class="col-lg-8">
				<h1>PREDICT - PREDIct Conference Topics</h1>
				<p>
					Master Thesis<br>
					HES-SO<br>
					Vincent Pasquier
				</p>
			</div>
			<div class="col-lg-4">
				<p style="margin-top: 3em">
					Supervisors
					<ul>
						<li>Joël Dumoulin, EIA-FR</li>
						<li>Julien Tscherrig, EIA-FR</li>
						<li>Omar Abou Khaled, EIA-FR</li>
						<li>Philippe Cudré-Mauroux, UNI-FR</li>
					</ul>
				</p>
			</div>
		</div>
		<div class="padded" ng-include="'views/files.html'"></div>

		<div class="padded" ng-include="'views/tasks.html'"></div>

		<div class="padded" ng-include="'views/minutes.html'"></div>

		<div class="padded" ng-include="'views/wiki.html'"></div>

		<div class="padded" ng-include="'views/references.html'"></div>
	</div>
</div>