<div id="minutes" class="jumpable" ng-init="initName('minutes')" ng-controller="FileCtrl">
	<h1 class="page-header" element-visible="true" data="data" url="url"><i class="glyphicon glyphicon-edit"></i> Minutes</h1>

	<div class="div-appear" ng-show="data.length > 0">
		<ul>
			<li class="dropdown list-unstyled">
				<span>View minutes: </span><span class="btn-group"><a class="dropdown-toggle">{{ selected.date | date }}</a>
					<ul class="dropdown-menu">
						<li ng-repeat="minutes in data | orderBy:'date'">
							<a ng-click="selectItem(minutes)">{{ minutes.date | date }}</a>
						</li>
					</ul></span>
			</li>
		</ul>
		<div ng-show="selected.date">
			<h2><i class="glyphicon glyphicon-calendar"></i> {{ selected.date | date:'dd MMMM yyyy'}}</h2>

			<div class="row">
				<div class="col-lg-6">
					<dl class="dl-horizontal">
						<dt>Place</dt>
						<dd>{{ selected.place }}</dd>
						<dt>Date</dt>
						<dd>{{ selected.date | date }}</dd>
						<dt>When</dt>
						<dd>{{ selected.when }}</dd>
						<dt>Time</dt>
						<dd>{{ selected.time }}</dd>
					</dl>
				</div>
				<div class="col-lg-6">
					<strong>People</strong>
					<ul>
						<li ng-repeat="person in selected.people">
							{{ person }}
						</li>
					</ul>
				</div>
			</div>
			<h3><i class="glyphicon glyphicon-comment"></i> Discussion</h3>
			<table class="table table-bordered table-striped table-hover" ng-repeat="topic in selected.discussion">
				<thead>
				<tr>
					<th class="col-lg-2">Topic</th>
					<th class="col-lg-10">{{ topic.topic }}</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td colspan="2" ng-bind-html="topic.text">
						<!-- Might want Markdown ? -->
					</td>
				</tr>
				</tbody>
			</table>
			<div class="row">
				<div class="col-lg-6">
					<div ng-show="selected.todos.length > 0">
						<h3><i class="glyphicon glyphicon-home"></i> TODO</h3>
						<ul>
							<li ng-repeat="todo in selected.todos"><span ng-bind-html="todo"></span></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-6">
					<div ng-show="selected.infos.length > 0">
						<h3><i class="glyphicon glyphicon-info-sign"></i> Info</h3>
						<ul>
							<li ng-repeat="info in selected.infos"><span ng-bind-html="info"></span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="div-appear" ng-show="data.length == 0">No minutes available for the moment.</div>
</div>