<div id="references" class="jumpable" ng-init="initName('references')" ng-controller="FileCtrl">
	<h1 class="page-header" element-visible data="data" url="url"><i class="glyphicon glyphicon-link"></i> References</h1>

	<div class="div-appear" ng-show="data.length > 0">
		<table class="table table-bordered">
			<thead>
			<tr>
				<th class="col-lg-2">Key</th>
				<th class="col-lg-10">Reference</th>
				<th class="col-lg-1">Source</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="reference in data | orderBy:'EntryKey'">
				<td>{{ reference.EntryKey }}</td>
				<td>
					{{ reference.Fields.author }}<br>
					<i>{{ reference.Fields.title }}</i><br>
					<span class="glyphicon {{ reference.more ? 'glyphicon-minus-sign' : 'glyphicon-plus-sign' }}" ng-click="reference.more = !reference.more"></span>

					<div class="div-appear" ng-show="reference.more">
						<table class="table">
							<tr ng-repeat="(key, field) in reference.Fields">
								<td class="col-lg-3" ng-hide="key === 'file'"><strong>{{ key }}</strong></td>
								<td class="col-lg-9" ng-hide="key === 'file'">{{ field }}</td>
							</tr>
						</table>
					</div>
				</td>
				<td>
					<a ng-href="http://dx.doi.org/{{ reference.Fields.doi }}" ng-show="reference.Fields.doi" class="glyphicon glyphicon-book" target="_blank"></a>
					<a href="{{ reference.Fields.url }}" ng-show="reference.Fields.url" class="glyphicon glyphicon-globe" target="_blank"></a>
				</td>
			</tr>
			</tbody>
		</table>
	</div>

	<div class="div-appear" ng-show="data.length == 0">No references available for the moment.</div>
</div>