<div id="tasks" class="jumpable" ng-init="initName('tasks')" ng-controller="FileCtrl">
	<h1 class="page-header" element-visible="true" data="data" url="url"><i class="glyphicon glyphicon-tasks"></i> Tasks</h1>

	<div ng-show="data.length > 0" class="div-appear">
		<ul>
			<li class="dropdown list-unstyled">
				<span>View tasks iterations: </span><span class="btn-group"><a class="dropdown-toggle">{{ selected.date | date:'longDate' }}</a>
					<ul class="dropdown-menu">
						<li ng-repeat="tasks in data | orderBy:'date'">
							<a ng-click="selectItem(tasks)">{{ tasks.date | date:'longDate' }}</a>
						</li>
					</ul></span>
			</li>
		</ul>
		<table class="table table-bordered table-hover" ng-show="selected.date" ng-repeat="task in selected.tasks">
			<thead>
			<tr>
				<th class="col-lg-9">
					{{ task.name }}
					<span class="hspacer"></span>
					<i class="glyphicon glyphicon-plus-sign" ng-show="!task.collapse" ng-click="task.collapse=!task.collapse"></i>
					<i class="glyphicon glyphicon-minus-sign" ng-show="task.collapse" ng-click="task.collapse=!task.collapse"></i>
				</th>
				<th class="col-lg-2">Milestone</th>
				<th class="col-lg-1">Status</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td colspan="3"><span style="font-size: small;font-weight: normal">{{ task.description }}</span></td>
			</tr>
			<tr class="row-appear" ng-repeat="item in task.items" ng-show="task.collapse">
				<td>
					<span><span ng-bind-html="item.text"></span></span>
				</td>
				<td>
					{{ item.date | date:'longDate' }}
				</td>
				<td>
					<i ng-show="item.done" class="glyphicon glyphicon-ok"></i>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
	<div class="div-appear" ng-show="data.length == 0">No tasks available for the moment.</div>
</div>