<div id="wiki" class="jumpable" ng-init="initName('wiki')" ng-controller="FileCtrl">
	<h1 class="page-header" element-visible data="data" url="url"><i class="glyphicon glyphicon-book"></i> Wiki</h1>

	<div class="div-appear" ng-show="data.length > 0">
		<ul class="list-unstyled">
			<li ng-repeat="site in data"><a href="{{ site.url }}" target="_blank">{{ site.title }}</a></li>
		</ul>
		</table>
	</div>

	<div class="div-appear" ng-show="data.length == 0">No wiki data available for the moment.</div>
</div>